<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Template</title>

    <link rel="stylesheet" href="styles.css" />
  </head>
<nav>
  <body>
    <h1><a href="/">Ninja Smoothies</a></h1>
    <h4><a href="/smoothies">Smoothies</a></h4>
    <h4><a href="/signup">Sign Up</a></h4>
    <h4><a href="/login">Login</a></h4>
  </nav>

<main>