<%- include('./partials/header.ejs') -%>

<ul class="recipes">
    <li class="recipe">
        <img src="/smoothies.png" alt="smoothie" />
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla Ice Cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothies.png" alt="smoothie" />
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla Ice Cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothies.png" alt="smoothie" />
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla Ice Cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothies.png" alt="smoothie" />
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla Ice Cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothies.png" alt="smoothie" />
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla Ice Cream, Milk</p>
    </li>
</ul>

<%- include('./partials/footer.ejs') -%>